<div class="jumbotron">
	<h2>Welcome to Pinteresting</h2>
</div>



<div class="container-fluid">
 <div class="row">
  <div class="col-md-12 bgimage">
   <div class="search-bar-padding">
			    <div class="input-group input-group-lg">
			      <input type="text" class="form-control" placeholder="Search for...">
			      <span class="input-group-btn">
			        <button class="btn btn-primary" type="button">Go!</button>
			      </span>
			    </div><!-- /input-group -->
   </div>
  </div>
 </div>
</div>